@use '../base/variable' as v; //_variable.scss

@mixin container-base($size:600px, $px:80px) {
    width: $size;
    margin: 0 auto;
    padding-top: $px;
}

@mixin box($ppx:20px, $mpx:20px){
    margin-bottom: $mpx;
    padding:$ppx;
    border: v.$box-border;
}

@mixin logo($px:40px){
    font-size: $px;
    font-weight: bold;
}

@mixin title($px:24px,$place:center,$mbpx:20px){
    font-size: $px;
    text-align: $place;
    margin-bottom: $mbpx;
}